name: 'Build MATLAB Plugin'
on:
  push:
    branches:
    - 'master'
    paths:
    - 'matlab/**/*'
  pull_request:
    paths:
    - 'matlab/**/*'
permissions:
  contents: 'read'
jobs:
  build:
    runs-on: 'ubuntu-latest'
    steps:
    - name: Checkout branch ${{ github.ref_name }}
      uses: actions/checkout@v6
    - name: Setup MATLAB
      uses: matlab-actions/setup-matlab@v2
    - name: Run build
      uses: matlab-actions/run-build@v2
