name: 'Build ImageJ2 Plugin'
on:
  push:
    branches:
    - 'master'
    paths:
    - 'ij2plugin/**/*'
  pull_request:
    paths:
    - 'ij2plugin/**/*'
permissions:
  contents: 'read'
jobs:
  build:
    runs-on: 'ubuntu-latest'
    steps:
      - name: Checkout branch ${{ github.ref_name }}
        uses: actions/checkout@v5
      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          java-version: '8'
          distribution: 'zulu'
          cache: maven
      - name: Build
        run: cd ij2plugin && mvn package
      - name: Prepare artifact
        run: mkdir staging && cp ij2plugin/target/*.jar staging
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: Package
          path: staging/*.jar
          retention-days: 7
