name: Publish package to GitHub Packages
on:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+'
permissions:
  contents: read
  packages: write
jobs:
  build:
    runs-on: 'ubuntu-latest'
    steps:
      - name: Checkout branch ${{ github.ref_name }}
        uses: actions/checkout@v6
      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          java-version: '8'
          distribution: 'zulu'
          cache: maven
      - name: Publish to GitHub Packages
        run: cd ij1plugin && mvn --batch-mode -DuseGitHubPackages=true deploy
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
